
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a, td, p, .h {
  font-family: arial;
  cursor: pointer;
  color:#000;


}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.googlehomepage {
  width: 500px;
  height: 200px;

}
topnav {
  color:black
}

.searchbar {
  width: 595px;
  height: 51px;

}

div {
  display: block;
}

